main {
    background-color: #e0be72;
    padding: 30px;
  

    .buscador {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 1.7rem;
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
        margin: 10px;
    }

    .contenedor {
        display: grid;
        grid-template-areas:
            "mclaren_foto ferrari_foto lotus_foto"
            "mclaren_titulo ferrari_titulo lotus_titulo"
            "mclaren_parrafo ferrari_parrafo lotus_parrafo"
            "boton1 boton2 boton3";


        /* ancho de cada columna - usar medidas relativas como fr o %*/
        grid-template-columns: 1fr 1fr 1fr;

        /* alto de cada fila - puede usarse px */
        grid-template-rows: 300px 100px 100px 50px;

        justify-items: center;
        align-items: center;

        img {
            width: 80%;
            height: 80%;
            border-radius: 20px;
            box-shadow: -15px 8px 34px -1px rgba(0, 0, 0, 0.75);
        }

        .mclaren_foto {
            grid-area: mclaren_foto;
        }

        .mclaren_titulo {
            grid-area: mclaren_titulo;
        }

        .mclaren_parrafo {
            grid-area: mclaren_parrafo;
        }

        .boton1 {
            grid-area: boton1;
        }

        .ferrari_foto {
            grid-area: ferrari_foto;
        }

        .ferrari_titulo {
            grid-area: ferrari_titulo;
        }

        .ferrari_parrafo {
            grid-area: ferrari_parrafo;
        }

        .boton2 {
            grid-area: boton2;
        }

        .lotus_foto {
            grid-area: lotus_foto;
        }

        .lotus_titulo {
            grid-area: lotus_titulo;
        }

        .lotus_parrafo {
            grid-area: lotus_parrafo;
        }

        .boton3 {
            grid-area: boton3;
        }

        .mclaren_foto.ferrari_foto.lotus_foto {
            width: 200px;
        }



    }

    .formulario__contacto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


}

.main_catalogo {
    overflow: auto;
    padding: 20px;


    .section__catalogo {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        gap: 20px;

        .caja__catalogo {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;

            img {
                width: 100%;
                max-width: 300px;
                border-radius: 20px;
                box-shadow: -15px 8px 34px -1px rgba(0, 0, 0, 0.75);
            }


        }



    }
}