@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$fontRoboto: 'Roboto', Arial, sans-serif; 
$fontLato: 'Lato', sans-serif;

$primaryColor: #da6161;
$backgroundColor: #e0be72;

//mixin


//extend
